@page "/Index"

<PageTitle>Index</PageTitle>

<h1>Bienvenido a nuestra aplicación</h1>

<SurveyPrompt Title="Somos un equipo de estudiantes de la Universidad de las Américas apasionados por la creación de experiencias digitales excepcionales. Permítenos presentarte a nuestro talentoso equipo:" />

<h2>Dennis Ocaña - UX Designer</h2>
<p>Como UX Designer, Dennis se encarga de diseñar la interfaz de usuario para asegurarse de que tu experiencia con nuestra aplicación sea intuitiva y agradable.</p>

<h2>Thyaria Vinitimilla - UX Writer</h2>
<p>Thyaria desempeña el papel crucial de UX Writer, asegurándose de que cada palabra y mensaje en la aplicación contribuya a una experiencia coherente y efectiva.</p>

<h2>Adrian Bedon - Fullstack Developer</h2>
<p>Adrian es nuestro Fullstack Developer, encargado de llevar a cabo el desarrollo integral de la aplicación, desde el frontend hasta el backend, para brindarte una experiencia fluida y completa.</p>

<h2>Xavier Ramos - Backend Developer</h2>
<p>Xavier se especializa en el desarrollo del backend de la aplicación, garantizando que los datos y la lógica detrás de escena funcionen de manera eficiente y segura.</p>

<h2>Fabiana Lira - Frontend Developer</h2>
<p>Fabiana es nuestra Frontend Developer, trabajando en la parte visual de la aplicación para ofrecerte una interfaz atractiva y fácil de usar.</p>

<p>Estamos emocionados de presentarte nuestra aplicación y esperamos que disfrutes de la experiencia que hemos creado con tanto esfuerzo y dedicación.</p>

@*
<SurveyPrompt Title="How is Blazor working for you?" />
*@

