﻿@page "/Index"

<PageTitle>Index</PageTitle>

<h1>Welcome to our application</h1>

<SurveyPrompt Title="Somos un equipo de estudiantes de la Universidad de las Américas apasionados por la creación de experiencias digitales excepcionales. Permítenos presentarte a nuestro talentoso equipo:" />

<div class="cardContainer">
    @foreach (var teamMember in teamMembers)
    {
        <div class="cardPerson">
            <img class="cardPerson-image" src="@teamMember.GitHubImage" alt="@teamMember.Name" />

            <div class="cardPerson-content">
                <h4>@teamMember.Name</h4>
                    <h4>@teamMember.Role</h4>

                <mat-chip-listbox>
                    @foreach (var skill in GetSkills(teamMember.Skills))
                    {
                        <mat-chip class="chip">@skill.Name</mat-chip>
                    }
                </mat-chip-listbox>
            </div>
        </div>
    }
</div>


@code {
    private List<TeamMember> teamMembers;

    protected override void OnInitialized()
    {
        teamMembers = new List<TeamMember>
        {
            new TeamMember
            {
                Name = "Dennis Ocaña",
                Role = "UX Designer",
                Description = "Como UX Designer, Dennis se encarga de diseñar la interfaz de usuario para asegurarse de que tu experiencia con nuestra aplicación sea intuitiva y agradable.",
                Skills = "Diseño de interfaz | Experiencia de usuario",
                GitHubImage = "https://avatars.githubusercontent.com/u/116930589?v=4"
            },
            new TeamMember
            {
                Name = "Thyaria Vinitimilla",
                Role = "UX Writer",
                Description = "Thyaria desempeña el papel crucial de UX Writer, asegurándose de que cada palabra y mensaje en la aplicación contribuya a una experiencia coherente y efectiva.",
                Skills = "Escritura | Comunicación",
                GitHubImage = "https://avatars.githubusercontent.com/u/96449161?v=4"
            },
           new TeamMember
            {
                Name = "Adrian Bedon",
                Role = "Fullstack Developer",
                Description = "Adrian es nuestro Fullstack Developer, encargado de llevar a cabo el desarrollo integral de la aplicación, desde el frontend hasta el backend, para brindarte una experiencia fluida y completa.",
                Skills = "Desarrollo Frontend | Desarrollo Backend",
                GitHubImage = "https://avatars.githubusercontent.com/u/82057915?v=4"
            },
            new TeamMember
            {
                Name = "Xavier Ramos",
                Role = "Backend Developer",
                Description = "Xavier se especializa en el desarrollo del backend de la aplicación, garantizando que los datos y la lógica detrás de escena funcionen de manera eficiente y segura.",
                Skills = "Desarrollo Backend | DataBase Administrator",
                GitHubImage = "https://avatars.githubusercontent.com/u/65315734?v=4"
            },
            new TeamMember
            {
                Name = "Fabiana Liria",
                Role = "Frontend Developer",
                Description = "Fabiana es nuestra Frontend Developer, trabajando en la parte visual de la aplicación para ofrecerte una interfaz atractiva y fácil de usar.",
                Skills = "Desarrollo Frontend | Diseño UI",
                GitHubImage = "https://avatars.githubusercontent.com/u/117101392?v=4"
            }
        };
    }

    private List<Skill> GetSkills(string skills)
    {
        var skillNames = skills.Split(',');
        return skillNames.Select(skill => new Skill { Name = skill.Trim() }).ToList();
    }
}

@*
<SurveyPrompt Title="How is Blazor working for you?" />
*@

