@inherits LayoutComponentBase

<PageTitle>ProjMetodologia</PageTitle>

<div class="page">
    <div class="sidebar">
        @*<NavMenu onTabSelected="@UpdateActiveTab" />*@
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    @*
    <button class="button-plus" @onclick="InvokeButtonAction">+</button>
    *@
</div>
@code
{
    /*private string activeTab = "default";

    @inject ICreatePage CreatePage
    [Parameter]
    public Action<string> onTabSelected { get; set; }

    private void UpdateActiveTab(string tabName)
    {

        activeTab = tabName.Replace(" ", "");
        onTabSelected?.Invoke(activeTab);
    }
    private void InvokeButtonAction()
    {
        try
        {
            CreatePage.Create();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al invocar el método: {ex.Message}");
        }
    }*/
}
