@using ProjMetodologia.Data
@using ProjMetodologia.Data.CentroCosto
@using System.Net.Http
@using System.Net.Http.Json

@page "/CreateCentroCostos"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Agregar centro de costos</h3>
<div>
    <form @onsubmit="CreateCentroCostosData">
        <div class="create-form">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control" id="codigo" @bind="centroCostos.Codigo">
        </div>
        <div class="create-form">
            <label for="nombre">Nombre de Centro de Costos:</label>
            <input type="text" class="form-control" id="nombre" @bind="centroCostos.NombreCentroCostos">
        </div>
        <button type="submit" class="btn submit-btn">Crear</button>
        <button @onclick="Goback" class="btn submit-btn">Cancelar</button>
        <div class="popup" style="@(showPopup ? "display: block;" : "display: none;")">
            <div class="card success-card">
                <div class="container">
                    <img src="Images/icon-success.svg" alt="Error" />
                    <h2>Datos insertados exitosamente</h2>
                </div>
                <p>
                    Los datos han sido guardados exitosamente
                    <br> <br><strong>NOTA:</strong> Click en continuar para volver a la lista general
                </p>
                <button @onclick="ClosePopup" class="btn dismiss-btn">Continuar</button>
            </div>
        </div>
        <div class="popup" style="@(showPopup1 ? "display: block;" : "display: none;")">
            <div class="card success-card">
                <div class="container">
                    <img src="Images/icon-success.svg" alt="Error" />
                    <h2>Error al insertar los datos</h2>
                </div>
                <p>
                    No se pudo insertar los datos, por favor verifique sus entradas e intente de nuevo
                    <br> <br><strong>NOTA:</strong> El registro que desea ingresar ya existe
                </p>
                <button @onclick="ClosePopup1" class="btn dismiss-btn">Cerrar</button>
            </div>
        </div>
    </form>
</div>


@code {
    private CentroCostos centroCostos = new CentroCostos();
    private CentroCostos[] apiResponse;
    @inject ICreatePage CreatePage
    private bool showPopup = false;
    private bool showPopup1 = false;

    public async Task CreateCentroCostosData()
    {
        var apiName = $"api/Varios/CentroCostosInsert?codigocentrocostos={centroCostos.Codigo}&descripcioncentrocostos={centroCostos.NombreCentroCostos}";

        try
        {
            var response = await Http.PostAsJsonAsync(apiName, centroCostos);

            if (response.IsSuccessStatusCode)
            {
                apiResponse = await response.Content.ReadFromJsonAsync<CentroCostos[]>();

                if (apiResponse != null && apiResponse.Length > 0 && apiResponse[0].Mensaje.ToString().Equals("Ingreso Exitoso"))
                {
                    showPopup= true;
                }
                else if (apiResponse != null && apiResponse.Length > 0 && apiResponse[0].Mensaje.ToString().Equals("El registro que desea ingresar ya existe"))
                {
                    showPopup1 = true;
                }
            }
            else
            {
                
            }
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error al crear Centro de Costos: {e.Message}");
        }
    }

    private void Goback()
    {
        NavigationManager.NavigateTo("/CentroCostos");
    }

    private void Create()
    {
        //CreateCentroCostosData();
    }

    private void ClosePopup()
    {
        showPopup = false;
        NavigationManager.NavigateTo("/CentroCostos");
    }

    private void ClosePopup1()
    {
        showPopup1 = false;
        NavigationManager.NavigateTo("/CreateCentroCostos",true);
    }
}