@using ProjMetodologia.Data
@using ProjMetodologia.Data.CentroCosto
@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Routing

@page "/UpdateCentroCostos"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject SharedCentroCostos sharedCentroCostos

<h3>Update Centro de Costos</h3>

@if (centroCostos != null)
{
    <form>
        <div class="create-form">
            <label for="codigo">Código:</label>
            <input type="text" class="form-control" id="codigo" @bind="centroCostos.Codigo">
        </div>
        <div class="create-form">
            <label for="nombre">Nombre de Centro de Costos:</label>
            <input type="text" class="form-control" id="nombre" @bind="centroCostos.NombreCentroCostos">
        </div>
        <button @onsubmit="UpdateCentroCostosData" type="submit" class="btn submit-btn">Update</button>
        <button @onclick="GoBack" class="btn submit-btn">Cancelar</button>
    </form>
}
else
{
    <p>Loading...</p>
}

@code {
    private CentroCostos centroCostos;
    private string codigo;
    private ResponseCentroCostos[] apiResponse;

    private async Task SetCentroCostosData()
    {
        centroCostos = sharedCentroCostos.Value;
    }

    protected override async Task OnInitializedAsync()
    {
        await SetCentroCostosData();
    }

    private async Task UpdateCentroCostosData()
    {
        var apiName = $"api/Varios/CentroCostosUpdate?codigocentrocostos={centroCostos.Codigo}&descripcioncentrocostos={centroCostos.NombreCentroCostos}";

        try
        {
            apiResponse = await Http.GetFromJsonAsync<ResponseCentroCostos[]>(apiName);

            if (apiResponse != null && apiResponse[0].NombreCentroCostos.Equals("Actualización Exitosa"))
            {
                NavigationManager.NavigateTo("/CentroCostos");
            }
            else
            {

            }
        }
        // catch (System.Text.Json.JsonException j)
        // {
        //     NavigationManager.NavigateTo("/CentroCostos");
        // }
        catch (HttpRequestException e)
        {
            Console.WriteLine($"Error al actualizar Centro de Costos: {e.Message}");
        }
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/CentroCostos");
    }
}
